body{
   margin: 0;
   padding: 0;
}
/* 导航覆盖 */
.navbar-default{
    background-color: rgb(255, 255, 255);
    border: none;
    
    box-shadow: 0 2px 8px rgba(50, 50, 50, 25);/*三维效果*/
}
/* 导航高度 */
.navbar-default.navbar-brand {
    font-size:30px ;
    height: 70px;
    line-height: 70px;
}
.navbar-default img{
    margin-top: -15px;
    width: 100px;
    height: 50px;
}
#home{
    margin-top: 50px;
    background: url(./img/bg2.jpg);
    background-size: 100% 100%;
    /* height: 900px; */
    width: 100%;
    text-align: center;
    
   
}
.navbar-default .navbar-nav > li > a:hover{
    color: #000;
    background-color: antiquewhite;
}

.lvj{
    /* height: 100%; */
    width: 100%;
    padding: 90px 0;
    background: rgba(0, 0, 0,0.7);
}
#home h1{
    font-weight: bold;
    color: aliceblue;
    margin-top: 0;
    margin-bottom: 20px;
}
#home p{
    color:#ffff;
    font-weight: bold;
    line-height: 25px;
}
#home #myCarousel{
    margin-top: 25px;
    border: 2px solid #fff;
    text-align: center;
}
#bbs{
    padding-top: 60px;
    text-align: center;

}

#bbs img{
    border: 2px solid rgb(79, 148, 228);
    border-radius: 50%;
    display: inline-block;
   
}
#bbs h3,p{
    color: rgb(107, 92, 92);
}
#bbs a{
    box-shadow: 8px 8px 5px #888888;
}
#bbs a:hover{
    text-decoration: none;
    background-color:#f1e9e9 ;
    /* border: #f1e9e9 1px solid; */
   
}
#bbs a:link{
    text-decoration: none;
}
#bbs a:visited{
    text-decoration: none;
}
#content{
    padding: 50px;
    background-color: #f8f8f8;
    margin-top: 20px;
}
p .glyphicon{
    background-color: rgb(228, 77, 67);
    width: 25px;
    height: 25px;
    font-size: 25px;
    color: #f1e9e9;
    border-radius: 50%;
    margin-right: 10px;
    line-height: 20px;
}
#content,#qiuyou p{
    line-height: 30px;
    color: rgb(107, 92, 92);
    font-weight: bold;
}
#content,#qiuyou h2{
    color: rgb(107, 92, 92);
}
#qiuyou{
    padding: 50px;

}
#qiupai{
    text-align: center;
    padding: 30px;
    margin: 0 auto;
    background-color: #f8f8f8;
}

.col-md-3>.goumai>a{
    display:inline-block;
   border: 1px solid #5a7d99;
    width: 130px;
    margin: 0 auto;
    font-size: 15px;
    margin-top: 10px;
    font-weight: bold;
    
}
.col-md-3>.goumai>a:hover{
    text-decoration: none;
    background-color:#59cfec ;
}
.col-md-3>.goumai>img{
   display:inline-block ;
   text-align: center;
}
.col-md-3>.goumai{
    border: 1px solid #5a7d99;
    width: 200px;
    box-shadow: 8px 8px 5px #888888;
}
.col-md-12>h2{
    margin-bottom: 45px;
    color: rgb(107, 92, 92);
}
#row-ceten .goumai{
    margin-top: 25px ;
   
}